* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

.gamecontainer {
    background-image: url("/bg img.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}

.mario {
    background-image: url("mario.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 150px;
    height: 180px;
    position: absolute;
    bottom: 0;
    left: 40px;

}

.pika {
    background-image: url("/pika.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 120px;
    height: 100px;
    position: absolute;
    bottom: 0;
    right: 350px;
}

.animatemario {
    animation: mario 0.6s linear;
}

@keyframes mario {
    0% {
        bottom: 0;
    }

    50% {
        bottom: 300px;
    }

    100% {
        bottom: 0;
    }
}

.pikaAnimate {
    animation: pika 3s linear infinite;
}

@keyframes pika {
    0% {
        left: 100vw;
    }

    100% {
        left: -10vw;
    }

}

.gameover {
    position: relative;
    top: 63px;
    font-size: 40px;
    text-align: center;

    font-weight: bold;
    font-family: sans-serif;
}

.scorecont {
    position: absolute;
    visibility: hidden;
    right: 25px;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    border: 2px solid rgb(70, 119, 70);
    color: rgb(26, 55, 219);
}

.maxScore {
    visibility: hidden;
    position: relative;
    text-align: center;
    top: 90px;
    font-size: 28px;
    font-weight: 500;
    color: rgb(5, 59, 30);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}